@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add any global styles here */
body {
  font-family: 'Arial', sans-serif;
}

/* You might want to add your gradient colors here */
:root {
  --color-primary: #3B82F6;
  /* blue-500 */
  --color-secondary: #014753;
  /* cyan-500 */
}